.registration-form {
    max-width: 800px; /* Puedes ajustar este valor a lo que mejor se vea en tu diseño */
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-50 {
    width: 50%;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.w-100 {
    width: 100%;
}

