
<div class="container">
    <h1 class="title">Bienvenido al Sistema de Gestión de Citas Médicas</h1>
    <p class="introduction">
        A continuación, encontrará instrucciones facitar el uso de nuestra aplicacion de citas. Por favor, siga estos pasos en el orden presentado para una experiencia eficiente.
    </p>
    <ol class="instruction-list">
        <li><strong>Agendar cita medica:</strong> 
            Agende su cita médica ingresando a la sección 'Agendar Cita'. Haga clic en el botón 'Agendar Cita Médica'. Aquí encontrará un formulario donde deberá seleccionar la especialidad médica que desea agendar para su consulta. Para ayudarlo en su búsqueda, hemos incluido una lista debajo del formulario con los días en los que se atienden ciertas especialidades. Solo seleccione una especialidad y una fecha, luego haga clic en el botón 'Buscar Cita Médica'. Aquí deberá escoger un médico disponible junto con su horario disponible. Haga clic en 'Agendar Cita' para proceder con la compra de su cita en Mercado Pago. Una vez realizada la compra, se le enviará un correo recordatorio con información de su cita. Además, al finalizar la compra y volver a la aplicación, se le entregará un documento que, si gusta, puede imprimir para asistir a su cita. Información como la dirección de la clínica se encuentra en la sección 'Agendar Cita', junto al horario de la clínica.</li>
        <li><strong>Revisar historial medico:</strong>En esta seccion podra revisar sus historiales medicos con informacion como diagnosticos, medicamentos y demas informacion relevante de su medico.</li>
        <li><strong>Revisar citas medicas:</strong> En esta seccion podra ver sus citas medicas que tiene agendadas.</li> 
        <li><strong>Cancelar cita:</strong> Si desea cancelar una cita que ya ha pagado, comuníquese con nosotros a través de correo electrónico o por teléfono. Ahí cancelaremos su cita actual y agendaremos otra para la fecha que desee.</li>  
        <li><strong>Cambiar contraseña:</strong> como su nombre lo indica, en esta seccion podra cambiar la contraseña que tiene registrada en la aplicacion por otra que guste.</li>    

    </ol>
</div>


