/* You can add global styles to this file, and also import other style files */



html, body
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w100 {
    width: 100px;
}

body {
    overflow: hidden;
}

// En styles.scss o styles.css




